<form action="/books/upsert" role="form" method="post">
{{#if book}}
    <div>
        <h2>Editing "{{book.title}}"</h2>
        <input type="hidden" name="id" value="{{bookIndex}}">
    </div>
{{/if}}
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" {{#if book}}
            value="{{book.title}}"
        {{/if}}>
    </div>
    <div>
        <label for="publishingYear">Year Published</label>
        <input type="text" id="publishingYear" name="publishingYear" {{#if book}}
            value="{{book.publishingYear}}"
        {{/if}}>
    </div>
    <div>
        <label for="authorIds">Author(s)</label>
        <select name="authorIds" id="authorIds" multiple>
            <option disabled selected value>-- select author(s) --</option>
            {{#each authors}}
                <option value="{{@index}}" {{#if (and @root.book (in @root.book.authorIds @index))}}selected{{/if}}>
                    {{this.firstName}} {{this.lastName}}
                </option>
            {{/each}}
        </select>
    </div>
    <div>
        <label for="genreId">Genre</label>
        <select name="genreId" id="genreId">
            <option disabled selected value>-- select a genre --</option>
            {{#each genres}}
                <option value="{{@index}}" {{#if (and @root.book (eq @index @root.book.genreId))}}selected{{/if}}>{{this.genre}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit">Submit</button>
</form>