<form action="/books/upsert" role="form" method="post">
{{#if book}}
    <div>
        <h2>Editing "{{book.title}}"</h2>
        <input type="hidden" name="id" value="{{bookIndex}}">
    </div>
{{/if}}
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" {{#if book}}
            value="{{book.title}}"
        {{/if}}>
    </div>
    <div>
        <label for="publishingYear">Year Published</label>
        <input type="text" id="publishingYear" name="publishingYear" {{#if book}}
            value="{{book.publishingYear}}"
        {{/if}}>
    </div>
    <div>
        <label for="authorId">Author</label>
        <select name="authorId" id="authorId">
            <option disabled selected value>-- select an author --</option>
            {{#each authors}}
                <option value="{{@index}}" {{#if (and @root.book (eq @root.book.authorId @index))}}selected{{/if}}>
                    {{this.firstName}} {{this.lastName}}
                </option>
            {{/each}}
        </select>
    </div>
    <button type="submit">Submit</button>
</form>