<h1><a href="/">{{title}}</a></h1>
<p>Create a new book <a href="books/form">here</a>, diva!</p>
<ul>
    {{#each books}}
    <li>{{@index}}: {{this.title}}, published {{this.publishingYear}} - 
        <a href="/books/edit?id={{@index}}">Edit</a>
    </li>
    {{/each}}
</ul>