<h1><a href="/books">{{title}}</a></h1>
<p>Create a new book <a href="books/form">here</a>, user.</p>
<ul>
    {{#each books}}
    <li>
        <a href="/books/show/{{this.id}}">{{this.id}}: {{this.title}}, published {{this.publishingYear}}</a> - 
        <a href="/books/edit?id={{this.id}}">Edit</a>
    </li>
    {{/each}}
</ul>