<h1>{{book.title}}</h1>
{{#if author}}
    <p>Written by {{author.firstName}} {{author.lastName}}</p>
{{/if}}
<p>Originally published in {{book.publishingYear}}</p>
<p><a href="/books/edit?id={{bookId}}">Edit</a></p>