<h1>{{book.title}}</h1>
{{#if authors}}
    <p>Written by {{#each authors}}
         {{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}
    {{/each}}</p>
{{/if}}
{{#if genre}} <!-- if there's a genre on this book... -->
    <p>Genre: {{this.genre.genre}}</p> <!-- ...add its name here -->
{{/if}}
<p>Originally published in {{book.publishingYear}}</p>
<p><a href="/books/edit?id={{bookId}}">Edit</a></p>