<h1><a href="/">{{title}}</a></h1>
<p>Create a new author <a href="authors/form">here</a>, diva!</p>
<ul>
    {{#each authors}}
    <li>{{@index}}: {{this.firstName}} {{this.lastName}} – </li>
    <a href="/authors/edit?id={{@index}}">Edit</a>
    {{/each}}
</ul>